@model UserInformationViewModel
@{
    ViewData["Title"] = "Bilgilerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="margin-top:30px; margin-left:30px; background-color:#fff; border:23px whitesmoke inset border-radius:15px; width:1800px; height:450px;">
    <h1>Bilgilerim</h1>
    <br />
    <table class="table">
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Kullanıcı Adı</th>
            <th>E-Posta</th>
            <th>Telefon Numarası</th>
            <th>Yaş</th>
            <th>Bilgilerimi Güncelle</th>
            <th>Şifre Değiştir</th>
        </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Surname</td>
            <td>@Model.UserName</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.Yas</td>
            <td><a class="btn btn-success" href="/Profilim/EditUser">Bilgilerimi Güncelle</a></td>
            <td><a class="btn btn-secondary" href="/Profilim/PasswordChange">Şifre Değiştir</a></td>
        </tr>
        
    </table>
</div>

